# Builds
bin

# Python bytecode
__pycache__/
.venv*

# Local model caches
.hf/

# Secret
.secret

# Assets
yt-video
comfyui-output
plan
.tasks

# Agents
.sisyphus
browser-data/
.playwright-mcp/

# Media Output
*.mp4
*.mp3
*.webm
